<a href="https://colab.research.google.com/github/fanyang2012/Mathematics/blob/main/Data_analysis_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

**Import data "csv"**

Define index_col, columns, index

In [ ]:
movies_df = pd.read_csv("https://raw.githubusercontent.com/pds2021/course/main/nbs/data/IMDB-Movie-Data.csv", index_col="Title")

**First data view**

head, shape, info, describe, columns, index

In [ ]:
movies_df.head()

In [ ]:
movies_df.shape

(1000, 11)

In [ ]:
movies_df.info()

In [ ]:
movies_df.describe()

In [ ]:
print(movies_df.columns)
print(movies_df.index)

**Data Preprocessing**

**1. Clean up Column names: Rename column and correct name**

https://blog.csdn.net/qq_41953252/article/details/108963469

In [ ]:
movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [ ]:
movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)
movies_df.columns = ['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime', 'Rating', 'Votes', 'Revenue',
       'Metascore']
print(movies_df.columns)

In [ ]:
movies_df.columns = movies_df.columns.str.lower()
movies_df.columns = [col.capitalize() for col in movies_df]
print(movies_df.columns)

In [ ]:
# df.columns = df.columns.str.strip(’$’)

**2. Drop Duplicates**

Drop_duplicates ()

**3. Work with missing values**

**DataFrames operations**

**1. Slice Columns**

**2. Select Rows with conditions**

**3. Aggregations**

**4. Row grouping**

data.groupby()[]

**5. Sort values**

sort_values(ascending=False)