<a href="https://colab.research.google.com/github/fanyang2012/Mathematics/blob/main/Feature_Engineering%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [6]:
melbourne_file_path = "https://raw.githubusercontent.com/pds2021/course/main/nbs/data/melb_data.csv"
data = pd.read_csv(melbourne_file_path)

data.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [ ]:
print(data.shape)
data.isna().sum()

In [10]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

Create a train-test split

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
y = data['Price']
X = data.drop(['Price'], axis = 1).select_dtypes(exclude = ['object']) # drop non-numeric variables
X_train, X_vaild, y_train, y_vaild = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 0)

**Missing Value Imputation**

Function: further improve the predictve power of the models

Option 1: drop all rows containing missing values

In [8]:
dropnadata =data.dropna(axis = 0) # drop all rows
print(dropnadata.shape)

(6196, 21)

Option 2: Simple Imputation

fill in the missing values with some number
e.g. fill in the mean value along each column

In [14]:
from sklearn.impute import SimpleImputer

In [15]:
simple_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(simple_imputer.fit_transform(X_train)) # fit_transform the trainset using SimpleImputer()
imputed_X_valid = pd.DataFrame(simple_imputer.transform(X_vaild))  # transform the valid data using SimpleImputer()

In [18]:
print(imputed_X_train.columns) 
print(imputed_X_valid.columns) # Here we find out that both column names are changed to range(12), rather than the real column names

RangeIndex(start=0, stop=12, step=1)
RangeIndex(start=0, stop=12, step=1)

In [19]:
imputed_X_train.columns = X_train.columns # the column names of trainset are same as X_train
imputed_X_valid.columns = X_vaild.columns
print(imputed_X_train.columns) 
print(imputed_X_valid.columns) # Note: just for the columns with numerical variables

Index(['Rooms', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude',
       'Propertycount'],
      dtype='object')
Index(['Rooms', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude',
       'Propertycount'],
      dtype='object')

Advanced Imputation

In [27]:
X_train_plus = X_train.copy()
X_vaild_plus = X_vaild.copy()

In [21]:
cols_with_missing = X_train.columns.values[X_train.isna().sum() > 0] # find all columns with missing values

In [23]:
cols_with_missing # just represents the colume names with missing values

array(['Car', 'BuildingArea', 'YearBuilt'], dtype=object)

In [ ]:
X_train_plus['Car'].isnull()

In [29]:
for col in cols_with_missing: # add new columns with the isnull() of each column with missing values
  X_train_plus[col + '_was_missing'] = X_train_plus[col].isnull()
  X_vaild_plus[col + '_was_missing'] = X_vaild_plus[col].isnull()

In [31]:
simple_imputer = SimpleImputer()
imputed_X_train_plus = pd.DataFrame(simple_imputer.fit_transform(X_train_plus))
imputed_X_valid_plus = pd.DataFrame(simple_imputer.transform(X_vaild_plus))

In [32]:
imputed_X_train_plus.columns = X_train_plus.columns # repair the column names
imputed_X_valid_plus.columns = X_vaild_plus.columns