<a href="https://colab.research.google.com/github/fanyang2012/Mathematics/blob/main/Feature%20Engineering%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Feature Engieering**

**Definition:** Feature engieering is the process of transforming raw data into features that better represent the underlying problem to the predictive models, resulting in improved model accuracy on unseen data.

***Applied machine learning is basically feature engineering.***

**Importance:** Feature Engineering is an essential part of building a powerful predictive model

**Requirement:** experience and creativity; Data Scientists often spend the majority of time in the data preparation phase before modeling

**General Operations:**

Modify existing variables

Add additional features to our dataset

train a predictive model

**Our Project: Adult dataset**

**Target:** Train a model to predict whether salary is greater than $50k or not.

In [1]:
import pandas as pd

In [2]:
file_path = 'https://raw.githubusercontent.com/pds2021/course/main/nbs/data/adult.csv'
adult_data = pd.read_csv(file_path)
adult_data.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country salary
0   49            Private  101320  ...             40   United-States  >=50k
1   44            Private  236746  ...             45   United-States  >=50k
2   38            Private   96185  ...             32   United-States   <50k
3   38       Self-emp-inc  112847  ...             40   United-States  >=50k
4   42   Self-emp-not-inc   82297  ...             50   United-States   <50k

[5 rows x 15 columns]

**Select variables and split dataset**

Select feature and target variables

**Target variable:** binary variable 0 / 1

0: Salary < $50k; 1: Salary > $50k

Use assign() Or Function and apply() (which are described in the chapter of "Descriptive Analytics"

**Option 1:** define a function and use apply() to replace the column values

In [3]:
def binsalary (x): 
  if x == ">=50k": 
    return 1
  else: 
    return 0

In [ ]:
adult_data_copy = adult_data.copy()
adult_data_copy["salary"] = adult_data_copy["salary"].apply(binsalary)
adult_data_copy.head()

In [30]:
adult_data_plus = adult_data.copy()

In [ ]:
salary = (adult_data_plus["salary"] == '>=50k').astype(int) # in total just 2 cases, that are 0 or 1
salary

In [ ]:
adult_data_plus = adult_data_plus.assign(salary = (adult_data_plus["salary"] == '>=50k').astype(int)) # assign() Assign new columns (here salary) to a DataFrame.Returns a new object with all original columns in addition to new ones.
adult_data_plus # original data adds a new column with 0 and 1 instead of the original column with string

In [33]:
y = adult_data_plus["salary"] # target variables
X = adult_data_plus.drop("salary", axis = 1) # features without target variables; If drop columns add axis =1

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)